<div class="vh bg-info d-flex flex-column">
  <div class="text-center col-12">
    <h2 class="my-5 border-bottom border-4 border-secondary d-inline-flex view">
      Sobre mí
    </h2>
  </div>
  <div class="col-10 m-auto">
    <div class="row gy-0 gx-3 justify-content-between">
      <div class="col-12 col-md-12 col-lg-6 f-mono p-2 animation-x">
        <p class="fs-sm-bold ">Ingeniero en Sistemas Computacionales</p>
        <h2>José Eduardo González Amieva</h2>
        <sub class="text-secondary fs-4">(Front-End)</sub>
        <section class="card border-0 bg-light p-3 mt-4 f-inter fs-5">
          <p>
            Soy un apasiona desarrollar web con
            <span class="fw-bold"> 4 años de experiencia profesional </span>
            amante de la tecnología con ambición al crecimiento profesional,
            aportando calidad, control y mejora con el objetivo de cumplir con
            las espectativas del cliente.
          </p>
          <p>
            En mi transcurso del tiempo laboral y personal he aprendido nuevas
            tecnología que me brindan dar lo máximo de mí aportando ídeas,
            soluciones y asi como aprender de los demás y mejorar continuamente.
          </p>
        </section>
        <a
          download="José_Eduardo_Gonzélez_Amieva_CV.pdf"
          href="./assets/docs/CV.pdf"
          class="btn btn-sm btn-primary mt-3"
          >Descargar CV</a
        >
      </div>
      <div class="col-12 col-md-8 col-lg-4 d-flex p-sm-2 m-auto">
        <div class="row align-item-center justify-content-center g-3 animation-x">
          <div class="col-12 col-md-6 col-lg-10 col-xl-6">
            <div class="card bg-body-tertiary border-0 shadow-sm h-100">
              <div
                class="d-flex flex-column p-4 text-dark f-mono align-items-center justify-content-center m-auto"
              >
                <i class="fa-solid fa-people-group fs-1"></i>
                <span class="mt-2">Trabajo en Equipo</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-10 col-xl-6">
            <div class="card bg-body-tertiary border-0 shadow-sm h-100">
              <div
                class="d-flex flex-column p-4 text-dark f-mono align-items-center justify-content-center m-auto"
              >
                <i class="fa-solid fa-person fs-1"></i>
                <span class="mt-2">Trabajo Individual</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-10 col-xl-6">
            <div class="card bg-body-tertiary border-0 shadow-sm h-100">
              <div
                class="d-flex flex-column p-4 text-dark f-mono align-items-center justify-content-center m-auto"
              >
                <i class="fa-solid fa-arrow-up-right-dots fs-1"></i>
                <span class="mt-2">Adaptación al Cambio</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-10 col-xl-6">
            <div class="card bg-body-tertiary border-0 shadow-sm h-100">
              <div
                class="d-flex flex-column p-4 text-dark f-mono align-items-center justify-content-center m-auto"
              >
                <i class="fa-solid fa-wrench fs-1"></i>
                <span class="mt-2">Resolución</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
