<div class="position-fixed top-0 w-100 shadow-sm bg-light z-3 bounce">
  <nav class="d-flex justify-content-center align-items-center">
    <ul class="d-flex nav navbar gap-3 f-mono">
      <li>
        <span class="fw-semibold">Sobre mí</span>
      </li>
      <li>
        <span class="fw-semibold">Servicios</span>
      </li>
      <li>
        <span class="fw-semibold">Proyectos</span>
      </li>
      <li>
        <span class="fw-semibold">Habilidades</span>
      </li>
    </ul>
  </nav>
</div>
