.wrapper {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  & app-present,
  app-about,
  app-services,
  app-programming-language,
  app-experience {
    scroll-snap-align: start;
  }
}
