<div class="vh bg-light bg-gradient d-flex flex-wrap p-5">
  <div class="col-10 col-md-8 m-auto">
    <div class="row g-3">
      <div class="col-12 text-center f-mono my-5" data-hidden>
        <span class="text-secondary fs-5 fw-semibold">Mis Servicios</span>
        <p class="text-black fs-2 fw-bold">
          Haciendo realidad su visión con presición y pasión
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4" data-hidden-up>
        <div class="card shadow-sm border-0 px-3 py-4 h-100">
          <div
            class="d-flex flex-wrap align-items-center justify-content-center m-auto"
          >
            <i class="fa-solid fa-pen-nib fs-2 mx-2"></i>
            <p class="fw-bold f-inter">UI/UX</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4" data-hidden-up>
        <div class="card shadow-sm border-0 px-3 py-4 h-100">
          <div
            class="d-flex flex-wrap align-items-center justify-content-center m-auto"
          >
            <i class="fa-solid fa-code fs-2 mx-2"></i>
            <p class="fw-bold f-inter">Desarrollo Web</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4" data-hidden-up>
        <div class="card shadow-sm border-0 px-3 py-4 h-100">
          <div
            class="d-flex flex-wrap align-items-center justify-content-center m-auto"
          >
            <i class="fa-solid fa-hourglass-half fs-2 mx-2"></i>
            <p class="fw-bold f-inter">Optimización y Rendimiento</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4" data-hidden-up>
        <div class="card shadow-sm border-0 px-3 py-4 h-100">
          <div
            class="d-flex flex-wrap align-items-center justify-content-center m-auto"
          >
            <i class="fa-solid fa-bug-slash fs-2 mx-2"></i>
            <p class="fw-bold f-inter">Resolución de Problemas</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4" data-hidden-up>
        <div class="card shadow-sm border-0 px-3 py-4 h-100">
          <div
            class="d-flex flex-wrap align-items-center justify-content-center m-auto"
          >
            <i class="fa-solid fa-laptop-code fs-2 mx-2"></i>
            <p class="fw-bold f-inter">Diseño Adaptivo</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4" data-hidden-up>
        <div class="card shadow-sm border-0 px-3 py-4 h-100">
          <div
            class="d-flex flex-wrap align-items-center justify-content-center m-auto"
          >
            <i class="fa-solid fa-gears fs-2 mx-2"></i>
            <p class="fw-bold f-inter">Soporte</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
