<div class="bg-light p-5">
  <h3 class="text-black fs-1 text-center f-mono">
    -Lenguajes de Programación-
  </h3>
  <div class="brands-list py-4">
    <div class="brands-list--wrapper gap-5">
      <img
        src="./assets/img/lang/angular.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/bootstrap.svg"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/css.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/html.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/java.svg"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/js.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/mysql.svg"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/nestjs.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/ngrx.svg"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/node.svg"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/postgres.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/sql-server.svg"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/tailwind.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/vue.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/angular.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/bootstrap.svg"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/css.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/html.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/java.svg"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/js.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/mysql.svg"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/nestjs.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/ngrx.svg"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/node.svg"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/postgres.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/sql-server.svg"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/tailwind.png"
        width="100"
        height="100"
        alt="angular"
      />
      <img
        src="./assets/img/lang/vue.png"
        width="100"
        height="100"
        alt="angular"
      />
    </div>
  </div>
</div>
