<div class="vh p-3 d-inline-flex overflow-hidden fond-code">
  <div class="row align-items-center justify-content-center position-relative m-auto">
    <div class="col-8 col-md-6">
      <div class="pt-5 bounce d-flex flex-column">
        <p class="text-primary fs-5 f-mono">Soy José Eduardo</p>
        <p class="fs-1 text-secondary fw-semibold">Desarrollador Web</p>
        <p class="fs-1 text-secondary fw-semibold">Semi Senior Front-end</p>
        <span class="text-light mb-2">
          Amante de la tecnología y apasionado por el diseño con las mejores
        </span>
        <div class="d-inline-flex gap-2">
          <a
            class="glass box-icon p-2 text-decoration-none"
            href="https://github.com/joselalo97"
            target="_blank"
          >
            <i class="fa-brands fa-github fs-4" aria-hidden="true"></i>
          </a>
          <a
            class="glass box-icon p-2 text-decoration-none"
            href="https://www.linkedin.com/in/jos%C3%A9-eduardo-gonzalez-amieva-7b2698188/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin fs-4" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-8 col-md-3 slide-x pt-5">
      <div class="img-vert position-relative p-3">
        <img
          class="w-100 rounded-3"
          src="./assets/img/profile/profile.jpg"
          alt="José Eduardo"
        />
      </div>
    </div>
  </div>
</div>
